/* Shameless sto^W adapted from crowdin CSS */

.moderne_input {
	line-height: 1.5;
	font-weight: 400;
	font-family: "Noto Sans",sans-serif;
}

.moderne_input * {
	margin-bottom: 1rem;
}

.moderne_input input, button {
	display: block;
	width: 100%;
	height: 3rem;
	padding: .625rem 1rem;
	line-height: 1.75;
	border-radius: .25rem;
	/* Override by the browser CSS if not set there. */
	font-size: 1rem;
}

.moderne_input input {
	color: #222;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.2);
	transition: border-color .25s ease-in-out;
}

.moderne_input input:focus {
	border-color: #36a;
}

.moderne_input button {
	background-color: black;
	text-transform: uppercase;
	letter-spacing: .75px;
	text-align: center;
	user-select: none;
	font-size: .875rem;
	cursor: pointer;
	transition: background-color .15s ease-in-out;
	color: white;
	font-weight: 600;
	border: none;
	background-color: darkblue;
}

.moderne_input button:focus, .moderne_input button:hover {
	background-color: blue;
}

.moderne_input label {
	display: inline-block;
	margin-bottom: .5rem;
}
